* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




header {
    width: 100%;
    margin: auto;
    text-align: center;
}
.imgbox{
    height: 90vh;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;    
}

.marginlr{
    margin: 0 10%;
}

.boxlogodiscord {
    
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.boxlogodiscord img{
    vertical-align: middle;
    line-height: 15px;
    height: 100%;
    margin: auto;
}

.navup{
    display: inline-block;
    vertical-align: middle;   
    width: calc(100% - 270px);
    text-align: center;
    text-decoration: none;
    color: white;
} 

.navup a {
    text-decoration: none;
    color: white;
}

.navup ul{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navup li{
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;   
    text-decoration: none;
    color: white; 
    padding-right: 3rem;
}

.loginbutton{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: right;
}

.loginbutton div {
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.loginbutton span {
    line-height: 40px;
    padding: .2;
}

.textbox1{
    text-align: center;
    width: 50%;
    line-height: 2.5rem;
    margin: auto;
}

.textbox1 h1{
    margin-top: 20%;
    color: white;
    font-weight: bolder;
    font-size: 3.2rem;
}

.textbox1 p{
    margin-top: 2.8rem;
    color: white;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.buttonbox{
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;  
}

.downloadbox{
    width: 230px;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    line-height: 50px;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.arrow-down{
    line-height: 70px;
    vertical-align: middle;
    font-weight: 1000;
}

.buttonbox span{
    font-size: 1.3rem;  
}

.openbox{
    width: 350px;
    height: 50px;
    background-color: black;
    border-radius: 40px;
    vertical-align: middle;    
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 50px;
}



  .box1{ 
    margin-top: 5%;
    text-align: center;
    }




.box2{
    margin-top: 15%;
    text-align: center;

}


.imgleft{
    display: inline-block;
    width: 700px;    
    vertical-align: middle;
    text-align: left;
}

.imgleft img {
    width: 100%;

}

.textright{
   width: calc(100% - 900px);
   display: inline-block;
   vertical-align: middle;
  
   text-align: right;
   
}

  .textright h2{
      font-size: 2.5rem;
      display: inline-block;
      font-weight: 700;
  }

  .textright p{
      margin-top: 1rem;
      font-size: 1.2rem;
      display: inline-block;
      
  }

  .textleft {
      width: 30%;
      display: inline-block;
  }

  .textleft h2{
    font-size: 2.5rem;
    display: inline-block;
    font-weight: 700;
  }

  .textleft p{
    margin-top: 1rem;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
}

.imgright{
    width: 700px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;

}


