* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




header {
    width: 100%;
    margin: auto;
    text-align: center;
}
.imgbox{
    height: 90vh;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;    
}

.marginlr{
    margin: 0 10%;
}

.boxlogodiscord {
    
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.boxlogodiscord img{
    vertical-align: middle;
    line-height: 15px;
    height: 100%;
    margin: auto;
}

.navup{
    display: inline-block;
    vertical-align: middle;   
    width: calc(100% - 270px);
    text-align: center;
    text-decoration: none;
    color: white;
} 

.navup a {
    text-decoration: none;
    color: white;
}

.navup ul{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.navup li{
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;   
    text-decoration: none;
    color: white; 
    padding-right: 3rem;
}

.loginbutton{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: right;
}


.loginbutton div {
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
    
}

.loginbutton span {
    line-height: 40px;
    padding: .2;
}

.textbox1{
    text-align: center;
    margin-top: 10%;
    margin-left: 23%;
    margin-right: 23%;
    line-height: 2.5rem;
}

.textbox1 h1{
    color: white;
    font-weight: bolder;
    font-size: 3.2rem;

}

.textbox1 p{
    margin-top: 2.8rem;
    color: white;
    
    font-size: 1.3rem;
    line-height: 2.5rem;

}

.downloadbox{
    width: 250px;
    height: 70px;
    background-color: white;
    border-radius: 35%;
    line-height: 70px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    vertical-align: middle;

}


.buttonbox a{
    text-decoration: none;
    color: black;
}

.arrow-down{
    line-height: 70px;
    vertical-align: middle;
    font-weight: 1000;
}

.buttonbox{
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    
}

.buttonbox span{
    font-size: 1.3rem;  
}


.openbox{
    width: 350px;
    height: 70px;
    background-color: black;
    border-radius: 35%;
    vertical-align: middle;    
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 70px;

}



.imgleft{
    width: 50%;    
    display: inline-block;  
    vertical-align: middle;
}

.imgleft img {
    width: 100%;

}

.textright{
   width: 300px;
   display: inline-block;
   vertical-align: middle;
   margin-left: 10%;
   
}

  .textright h2{
      font-size: 2.5rem;
      display: inline-block;
  }

  .textright p{
      margin-top: 1rem;
      font-size: 1.2rem;
      display: inline-block;
  }

  .box1{ margin-top: 5%;
        }
