* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.mainbox{
    margin: 0 10%;
}

header {
    width: 100%;
    /* margin: auto; */
}
.imgbox{
    height: 90vh;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;    
}

.boxlogodiscord {
    
    display: inline-block;
    width: 20%;
    height: 50px;
    margin-top: 10px;
}

.boxlogodiscord img{
    vertical-align: middle;
    line-height: 15px;
    width: 150px;
    height: 100%;
    margin: auto;
}

.navup{
    display: inline-block;
    vertical-align: middle;   
    width: 700px;
    text-align: center;
    margin-left: 100px;
    /* width: 40%; */
} 

.navup ul{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    /* height: 100px; */
    /* line-height: 100px; */
    /* margin: 0 5%; */
    /* max-width: 100%; */
    
}

.navup li{
    display: inline;
    color: white;
    padding:0 2rem;
    font-size: 1.2rem;
    vertical-align: middle;
    width: 100%;
    /* margin: 0 3px; */
    
}

.loginbutton {
    width: 20%;
    display: inline-block;
    text-align: center;
   
}

.loginbutton div {
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 30%;
    text-align: center;
    margin-left: 350px;
}

.loginbutton span {
    line-height: 40px;
    padding: .2;
}

.textbox1{
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2.5rem;
}

.textbox1 h1{
    color: white;
    font-weight: bolder;
    font-size: 3.2rem;

}

.textbox1 p{
    margin-top: 2.8rem;
    color: white;
    
    font-size: 1.3rem;
    line-height: 2.5rem;

}

.downloadbox{
    width: 250px;
    height: 70px;
    background-color: white;
    border-radius: 35%;
    line-height: 70px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    vertical-align: middle;

}

.buttonbox{
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    
}

.buttonbox span{
    font-size: 1.3rem;  
}


.openbox{
    width: 350px;
    height: 70px;
    background-color: black;
    border-radius: 35%;
    vertical-align: middle;    
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 70px;

}

.


